#sp-slider {
    --sp-slider-height: 400px;

    overflow: hidden;
    position: relative; /*So that the text box can be position absolute and ignore the image width if it's big*/
    width: 100%;
    height: var(--sp-slider-height);
    margin-top: -40px; /*counteracting some out-of-article theme styling*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s ease;
    z-index: 0;

    .controls-wrapper {
        z-index: 1; /*Ensures controls are always on top of slide content but not above the dropdowns*/
        position: relative;
        width: 100%;
        height: 100%;
        pointer-events: none;
        * {
            pointer-events: all;
        }
    }

    .sp-slide {
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.5s ease;
        display: flex; /*This alone allows the text box and image to stretch as much as they want without going over*/
        z-index: 0; /*To make sure the controls are visible*/

        img {
            position: static;
            height: var(--sp-slider-height);
            max-height: 400px;
            margin-block: auto;
        }

        .sp-slide-text-box {
            width: 100%;
            height: var(--sp-slider-height);
            display: inline-block;        
            position: static;
            background-color: white;
            box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.3);
            z-index: 0;
            padding: 3dvw;

            h1 {
                padding-right: 40px; /*To move out of the way of the autoplay toggle on mobile screens*/
            }
        }

        .sp-slide-date {
            font-style: italic;
            color: dimgray;
        }

        .sp-slide-excerpt {
            color: black;
        }
    }
    .sp-slide[data-active="false"] {
        opacity: 0;
        z-index: -1;
    }

    .autoplay-toggle {
        top: 20px /*20px*/; /*now that these are buttons, we need -10px for some reason...*/
        position: absolute;
        font: normal 26px / 1 'Genericons';
        vertical-align: top;
        color: #FFFFFF;
        background-color: var(--sp-brown);
        opacity: 1;
        border-radius: 3px;
        padding: 6px;
        cursor: pointer;
        transition: transform 0.2s ease;
        z-index: 1;
        right: 20px;
    }

    .autoplay-toggle.play::before {
        content: '\f448';
    }

    .autoplay-toggle:not(.play)::before {
        content: '\f452';
    }

    .arrow {
        bottom: -10px /*20px*/; /*now that these are buttons, we need -10px for some reason...*/
        position: absolute;
        font: normal 26px / 1 'Genericons';
        vertical-align: top;
        color: #FFFFFF;
        background-color: var(--sp-brown);
        opacity: 1;
        border-radius: 3px;
        padding: 6px;
        cursor: pointer;
        transition: transform 0.2s ease;
        z-index: 1;
    }

    .arrow.right::before {
        content: '\f501';
    }

    .arrow.left::before {
        content: '\f503';
    }

    .arrow.left {
        left: 20px;
    }

    .arrow.right {
        right: 20px;
    }

    .indicators {
        --indicator-size: 20px;
        position: absolute;
        text-align: center;
        width: 100%;
        height: var(--indicator-size);
        bottom: 28px;
        z-index: 0;

        .indicator {
            display: inline-block;
            width: var(--indicator-size);
            height: var(--indicator-size);
            border: 5px solid var(--sp-brown);
            border-radius: var(--indicator-size);
            margin-inline: min(1dvw, 5px);
            cursor: pointer;
            padding: 0;
            background-color: unset;
            transition: transform 0.2s ease;
        }

        .indicator[data-active="true"] {
            background-color: var(--sp-brown);
        }
    }
}

#sp-slider.hidden-until-js {
    opacity: 1;
}

@media (max-width: 900px) {
    #sp-slider {
        --sp-slider-height: 500px;

        .sp-slide {

            img {
                display: none;
            }
        }
    }
}

/*Counteract weird theme styles*/
@media screen and (max-width: 1308px) {
    #sp-slider {
        margin-left: -3%;
        width: 106%;
    }
}